streamlit
PyPDF2
langchain
langchain-community
faiss-cpu
huggingface-hub
pyttsx3
langchain-groq
torch
transformers
# The following line is crucial and was the source of the error
sentence-transformers
langchain-huggingface